<div class="position-relative topic mt-5">
  <p class="">{{ title }}</p>
  <hr />
</div>

<ngb-carousel
  id="carousel-middle-home"
  #carousel
  data-interval="false"
  [wrap]="true"
>
  @for (img of images; track img; let i = $index) {
  <ng-template ngbSlide>
    <div class="row gx-5 d-flex justify-content-between">
      @for (imgInner of img; track imgInner; let j = $index) {
      <div class="col-3 flex-col">
        <mat-card
          class="example-card cursor-pointer"
          appearance="outlined"
          [ngClass]="{
            small_col_size: size === 'small',
            large_col_size: size === 'large'
          }"
        >
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ images[i][j].name }}</mat-card-title>
            <mat-card-subtitle>Novelity Cup Cake</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            [src]="images[i][j].src"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p class="pt-3">{{ images[i][j].description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="productDetails(images[i][j])">
              VIEW DETAILS
            </button>
            <button
              mat-button
              class="btn btn-primary-outline d-inline-flex flex-row"
              style="width: auto"
              (click)="addProductToCart(images[i][j])"
            >
              ADD TO CART
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      }
    </div>
  </ng-template>
  }
</ngb-carousel>

<!-- <hr />

<div class="form-check">
  <input
    type="checkbox"
    class="form-check-input"
    id="pauseOnHover"
    [(ngModel)]="pauseOnHover"
  />
  <label class="form-check-label" for="pauseOnHover">Pause on hover</label>
</div>
<div class="form-check">
  <input
    type="checkbox"
    class="form-check-input"
    id="pauseOnFocus"
    [(ngModel)]="pauseOnFocus"
  />
  <label class="form-check-label" for="pauseOnFocus">Pause on focus</label>
</div>
<div class="form-check">
  <input
    type="checkbox"
    class="form-check-input"
    id="unpauseOnArrow"
    [(ngModel)]="unpauseOnArrow"
  />
  <label class="form-check-label" for="unpauseOnArrow"
    >Unpause when clicking on arrows</label
  >
</div>
<div class="form-check">
  <input
    type="checkbox"
    class="form-check-input"
    id="pauseOnIndicator"
    [(ngModel)]="pauseOnIndicator"
  />
  <label class="form-check-label" for="pauseOnIndicator"
    >Pause when clicking on navigation indicator</label
  >
</div>
<button
  type="button"
  (click)="togglePaused()"
  class="btn btn-outline-secondary btn-sm"
>
  {{ paused ? "Cycle" : "Pause" }}
</button>
 -->
