<h1 class="d-flex w-100">Search Results</h1>
<div class="d-flex flex-wrap justify-content-center p-3" id="search-page">
  <br />
  <p class="d-flex w-100">
    Showing Results for :<span class="italic">
      {{ this.state }}
    </span>
  </p>
  <app-search-bar
    (newItemEvent)="updateSearch($event)"
    style="width: 50%"
    class="mt-3 p-3"
    [val]="state"
  />

  <div class="row gx-5 d-flex justify-content-left w-100 py-5">
    @for (img of filteredItem; track img; let i = $index) {

    <div class="col-3 flex-col">
      <mat-card
        class="example-card cursor-pointer my-5 small_col_size_search"
        appearance="outlined"
      >
        <mat-card-header class="justify-content-center text-center">
          <mat-card-title class="justify-content-center text-center">{{
            img.name
          }}</mat-card-title>
          <mat-card-subtitle>Novelity Cup Cake </mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          class="pt-2"
          [src]="img.src"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p class="pt-3">{{ img.description }}</p>
        </mat-card-content>
        <mat-card-actions class="flex-wrap">
          <ul class="d-flex flex-row flex-wrap p-0">
            @for (cat of img.category; track cat; let i = $index) {
            <li
              class="badge m-2 flex-col p-2"
              style="font-size: 14px; border-radius: 24px"
              [ngClass]="{
                'bg-primary': cat === state,
                ' bg-secondary': cat !== state
              }"
            >
              <span>{{ cat }}</span>
            </li>
            }
          </ul>
          <br />
          <div>
            <button
              mat-button
              class="d-inline-flex flex-row"
              (click)="productDetails(img)"
            >
              VIEW DETAILS
            </button>
            <button
              mat-button
              class="btn btn-primary-outline d-inline-flex flex-row"
              style="width: auto"
              (click)="addProductToCart(img)"
            >
              ADD TO CART
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    }
  </div>
</div>
